@import "tailwindcss";
/* Custom animated gradient background keyframes */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Class for animated gradient background */
.bg-animated {
  background: linear-gradient(270deg, #C8A2C8, #7FFF00, #00FFF7, #FF6EC7);
  background-size: 800% 800%;
  animation: gradientAnimation 20s ease infinite;
}

html {
  scroll-behavior: smooth;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}